body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  width: 30%;
  margin: 0 auto 0 auto;
  line-height: 1cm;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #424874;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  padding-top: 25px;
  color: #424874;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #A6B1E1;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 1.125rem;
  color: grey;
  width: 24%;
  margin: 0 auto;
  line-height: 0.9cm;
}

.middle-container {}

.bottom-container {}

.display-img {
  width: 9.375rem;
}

.contact-img {
  width: 9.375rem;
}

.skill-picture {
  width: 15rem;
}

.profile-picture {
  width: 9.375rem;
  border-radius: 50%;
  margin-top: 100px;
}

.top-div {
  background-color: #F4EEFF;
  position: relative;
  padding-top: 15.625rem;
}

.top-cloud {
  width: 10rem;
  position: absolute;
  right: 31.25rem;
  top: 8.5rem;
}

.intro {
  width: 20%;
  margin: 0 auto 0 auto;
  line-height: 1cm;
}

.bottom-cloud {
  width: 10rem;
  position: absolute;
  left: 31.25rem;
  bottom: 21rem;
}

.mountain {
  width: 40rem;
  position: relative;
}
